In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("master.csv").drop(columns=['Timestamp','RecordID'])

In [4]:
df.columns

Index(['Age', 'BUN', 'Creatinine', 'DiasABP', 'FiO2', 'GCS', 'Gender',
       'Glucose', 'HCO3', 'HCT', 'HR', 'ICUType', 'K', 'MAP', 'Mg', 'Na',
       'PaCO2', 'PaO2', 'Platelets', 'SysABP', 'Temp', 'Urine', 'WBC',
       'Weight', 'pH'],
      dtype='object')

In [5]:
df

,Age,BUN,Creatinine,DiasABP,FiO2,GCS,Gender,Glucose,HCO3,HCT,...,Na,PaCO2,PaO2,Platelets,SysABP,Temp,Urine,WBC,Weight,pH
0,44,4.666667,0.333333,67.125,0.5,5.923077,0,NaN,25,28.46,...,138.33333,35.5,134.5,89.666667,125.6875,37.8,124.951219,NaN,56.7,7.495

In [35]:
cols = list(df.isna().any()[lambda x: x].index)

In [34]:
pd.DataFrame(np.array([1.0,2.0,3.0]).reshape(1,-1))

     0    1    2
0  1.0  2.0  3.0

In [45]:
name = "Sumit"
city = ['new','york']

In [46]:
string = "hello {}.\nYou are in {}".format(name,city)

In [47]:
string

"hello Sumit.\nYou are in ['new', 'york']"